.bg-image-auth {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    left: 0;
    background-image: url('images/parking.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rebeccapurple; */
}

.heading-text {
    text-align: center;
    font-weight: bolder;
    padding-bottom: 20px;
}

.auth-form {
    top: 15%;
    position: relative;
    padding: 50px;
}

.bstyle {
    background-image: url('./images/blurcar.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}